@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 10px;
  padding: 0;
}
body {
  background: linear-gradient(to right, #16778f, #6dd5ed);
  font-family: "Roboto", sans-serif;
}
.head {
  display: flex;
  align-items: center;
  justify-content: center;
  &-img {
    width: 130px;
  }
  &-text {
    color: white;
    font-size: 60px;
  }
}
.sec1 {
  &-img {
    height: 95vh;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 255, 0.664),
        rgba(0, 0, 139, 0.589)
      ),
      url(../img/pexels-christina-morillo-1181671.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-title {
    color: rgb(146, 155, 231);
    font-size: 60px;
  }
}
