@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(to right, #16778f, #6dd5ed);
  font-family: "Roboto", sans-serif;
}
.head {
  display: flex;
  align-items: center;
  justify-content: center;
  &-img {
    width: 130px;
  }
  &-text {
    color: white;
    font-size: 60px;
  }
}
